# Note: these requirements are vendored manually via the Makefile.
# - if you are an end user of this tool, you don't need to install via pip.
# - if you are a maintainer of this tool, be sure to use `make vendor_deps`
#   anytime you make changes to this file, and check the corresponding changes
#   to the /vendor/* directory in with your change as well.

# Required by python lint checking
# This is flake8 3.5.0 with one more commit to support `paths` in `.flake8`.
git+git://github.com/pycqa/flake8.git@dd1e9d1cb7e9a232946c06aca1564d48d4d6f65e
